body {
    line-height: 1.5;
    color: #444;
    font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 38px;
  /*margin-bottom: 0px;*/
}
.purple {
  color: #a100ff;
}
.wrapper {
    width: 800px;
    margin: 10px auto;
}
.wrapper p {
    font-size: 20px;
}
.header-img {
    width: 30%;
    margin: 40px auto;
}
.table-section {}
td {
    font-size: 20px;
    padding: 6px 20px;
    vertical-align: top;
    word-wrap: break-word;
}
td.cell-title {
    font-size: 30px;
    font-weight: 700;
    padding:20px 0px;
    /*text-align: center;*/
}
td .section-title {
    padding: 10px;
    background-color: #cdb6db;
    border-radius: 10px;
}
td.row-title {
  text-align: right;
}
td a {
    font-family: monospace;
    color: #a100ff;
}
td a.project-link {
    display: block;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .wrapper {
        width: 90%;
    }
    table {
      table-layout: fixed;
      width: 100%;
    }
    td, td.row-title {
        display: block;
        font-size: 18px;
        padding: 6px 0px;
        text-align: left;
    }
    tr td:first-child { 
        font-weight: 600;
    }
}