body {
}
#heading {
    font-size: x-large;
    color: #000000;
    
}
#main{
    margin-left: auto;
    margin-right: auto;
    float: left;
}
#controls {
    /*float: left;*/
     opacity: .85;
    position: fixed;
    right: 30px;
    top: 30px;
    background: lightblue;
    padding: 15px;
}

canvas {
    background: #fff;

    margin-left: 10px;
}
button {
    margin-top: 5px;
    margin-bottom: 5px;
}