body {
}
#heading {
    font-size: x-large;
    color: #000000;

}
#main{
    margin-left: auto;
    margin-right: auto;
    float: left;
}
#controls {
    /*float: left;*/
    opacity: .85;
    position: fixed;
    right: 0px;
    top: 0px;
    background: lightblue;
    height: 100%;
}
#control-container {
    padding:10px;
}
#framerate {
  top: 0px;
  left: 10px;
  position: fixed;
  opacity: .85;
  font-weight: bold;
}

canvas {
    background: #fff;
    border-style: solid;
    margin-left: 10px;
}
button {
    margin-top: 3px;
    margin-bottom: 3px;
}
