{{ define "main" }}
<div class="my-6 max-w-screen-sm">
  {{ partial "breadcrumb.html" . }}
  <article>
    <h1 class="text-4xl font-bold text-accent-700 mb-6">{{ .Title }}*</h1>
    {{ if .Site.Data.retweets }}
    <ul class="list-disc ml-4 space-y-2">
      {{ range .Site.Data.retweets.retweets }}
      <li class="text-accent-700">
        <a href="{{ .url }}" class="underline mr-2">{{ .title }}</a>
        {{ if .tags }}
        <span class="text-xs text-accent-300 inline-block">
          {{ range .tags }}
            <span class="mr-1 px-[3px] bg-gray-800 text-white rounded-xs">{{ . }}</span>
          {{ end }}
        </span>
        {{ end }}
        {{ if .description}}
        <span class="text-xs text-gray-800">{{ .description }}</span>
        {{ end }}
      </li>
      {{ end }}
    </ul>
    {{ else }}
    <p class="text-accent-500 italic">No retweets yet.</p>
    {{ end }}
  </article>
  <div class="prose mt-8 !text-sm">
    {{ .Content | safeHTML }}
  </div>
</div>
{{ end }}
