# Hugo
/public/
/resources/
/.hugo_build.lock
hugo_stats.json

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/

# Yarn node
.yarn/

# Python
__pycache__/
*.pyc
.venv/
venv/