<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{{ .Site.Title }}</title>
  
  <!-- SEO Meta Tags -->
  <meta name="description" content="{{ .Site.Params.description }}">
  
  <!-- Open Graph / Facebook -->
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:site_name" content="subdavis.com">
  <meta property="og:description" content="{{ .Site.Params.description }}">
  <meta property="og:image" content="{{ .Site.Params.image }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  
  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@{{ .Site.Params.twitter }}">
  <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}">
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta name="twitter:description" content="{{ .Site.Params.description }}">
  <meta name="twitter:image" content="{{ .Site.Params.image }}">
  <meta name="twitter:url" content="{{ .Site.BaseURL }}">
  
  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/favicon.ico">
  
  <!-- RSS Feed -->
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}
  
  <!-- Umami Analytics -->
  {{ if .Site.Params.umami_website_id }}
  <script defer data-website-id="{{ .Site.Params.umami_website_id }}" src="{{ .Site.Params.umami_src }}" data-domains="{{ .Site.Params.umami_domain }}"></script>
  {{ end }}
</head>
<body class="bg-white">
  {{ block "header" . }}{{ end }}
  <div class="main w-full bg-white">
    <div class="max-w-screen-md mx-auto px-8 pb-4 xl:px-12">
      {{ block "main" . }}{{ end }}
    </div>
  </div>
</body>
</html>
