.prose {
  @apply text-lg;
}

.prose h2 {
  @apply text-2xl font-bold text-accent-700 mt-8 mb-4;
}

.prose h3 {
  @apply text-xl font-bold text-accent-700 mt-6 mb-3;
}

.prose p {
  @apply mb-4 text-accent-700;
}

.prose ul, .prose ol {
  @apply mb-4;
}

.prose ul {
  list-style-type: disc;
  list-style-position: outside;
  @apply ml-6;
}

.prose ol {
  list-style-type: decimal;
  list-style-position: outside;
  @apply ml-6;
}

.prose li {
  @apply mb-2 text-accent-700;
}

.prose a {
  @apply text-accent-700 hover:text-accent-700 underline;
}

.prose code {
  @apply bg-accent-50 px-1 py-0.5 rounded text-sm text-accent-700 border border-accent-200;
}

.prose pre {
  @apply bg-accent-50 p-4 rounded overflow-x-auto mb-4 border border-accent-200;
}

.prose pre code {
  @apply bg-transparent border-0 p-0;
}

.prose hr {
  @apply my-8 border-t border-accent-600;
}

.prose blockquote {
  @apply border-l-4 border-accent-600 pl-4 my-4 italic text-gray-700 bg-accent-50/30;
}

.prose img {
  @apply my-4 rounded-md border border-accent-200 border-2;
}

.nav-link {
  @apply px-1 text-sm underline font-bold font-mono bg-black text-white rounded-xs;
}

/* Callout / Well Components */
.callout {
  @apply p-2 my-6 border-2 rounded;
}

.callout-title {
  @apply block mb-2 font-bold;
}

.callout-info {
  @apply bg-blue-50 border-blue-200 text-blue-900;
}

.callout-warning {
  @apply bg-amber-50 border-amber-200 text-amber-900;
}