<header class="flex flex-col justify-center items-center pt-6">
    <div class="profile mb-2 text-accent-900 w-48 h-48">
        <img src="https://avatars.githubusercontent.com/u/4214172" class="rounded-xl" alt="{{ .Site.Title }}">
    </div>
    <h1 class="text-4xl font-bold -mb-1">
        {{ .Site.Title }}
    </h1>
    <h2 class="text-xl font-bold text-accent-600 mb-2">
        {{ .Site.Params.email | replaceRE "@" "@<span style=\"display: none;\">&nbsp;</span>" | safeHTML }}
    </h2>
    <h3 class="blurb-paragraph text-sm md:text-base text-accent-700" role="complementary">
        web developer, apparently. he/him. i love to get email from humans.
    </h3>
    {{ partial "links.html" . }}
</header>

<style>
.profile img {
  width: 180px;
  height: 180px;
}
</style>
