<script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@3.1.0/dist/chartjs-plugin-annotation.min.js"></script>
<script src="https://unpkg.com/@sgratzl/chartjs-chart-boxplot@4.4.5/build/index.umd.min.js"></script>"
<script>
    Chart.defaults.color = '#000';
    Chart.defaults.width = 400;
    Chart.defaults.height = 200;

    const cursorPlugin = {
        id: 'cursorPlugin',
        afterDraw: chart => {
            if (chart.tooltip?._active?.length) {
                let x = chart.tooltip._active[0].element.x;
                let yAxis = chart.scales.y;
                let ctx = chart.ctx;
                ctx.save();
                ctx.beginPath();
                ctx.moveTo(x, yAxis.top);
                ctx.lineTo(x, yAxis.bottom);
                ctx.lineWidth = 1;
                ctx.strokeStyle = 'rgba(0, 0, 255, 0.4)';
                ctx.stroke();
                ctx.restore();
            }
        }
    };
  Chart.register(cursorPlugin);

  // register controller in chart.js and ensure the defaults are set
  Chart.register(ChartBoxPlot.BoxPlotController, ChartBoxPlot.BoxAndWiskers, Chart.LinearScale, Chart.CategoryScale);
</script>
