<div class="flex flex-row flex-wrap">
  {{ range .Site.Data.homepage.external_links }}
  <a
    class="ml-2 m-1 px-3 external-link rounded-xs
      {{ if eq .color "primary" }}bg-black hover:bg-gray-800 text-white border-2 border-black{{ end }}
      {{ if eq .color "accent" }}bg-black hover:bg-gray-800 text-white border-2 border-black{{ end }}
      {{ if eq .color "secondary" }}bg-white hover:bg-accent-50 text-accent-700 border-2 border-accent-200{{ end }}
      cursor-pointer flex items-center justify-center"
    href="{{ .href }}"
  >
    {{ .title }}
  </a>
  {{ end }}
</div>
