{{/* 
  Displays a list of posts
  Params:
    - posts: collection of pages to display
    - limit: (optional) maximum number of posts to show
*/}}
{{ $posts := .posts }}
{{ if .limit }}
  {{ $posts = first .limit $posts }}
{{ end }}

{{ if $posts }}
<div class="posts-list space-y-4">
  {{ range $posts }}
    <article class="post-item grid mobile:grid-cols-[auto_2fr] grid-cols-[1fr] gap-x-4">
      <time class="text-accent-3 text-xs mt-[.4rem] min-w-[70px] date-style">
        {{ .Date.Format "Jan 2" }}
      </time>
      <div>
        <h3 class="text-lg mobile:text-xl">
          <a href="{{ .RelPermalink }}" class="text-accent-4 hover:text-accent-4 transition-colors">
            {{ .Title }}
          </a>
        </h3>
        {{ if .Description }}
          <p class="text-accent-3 text-sm body-text">{{ .Description }}</p>
        {{ end }}
      </div>
    </article>
  {{ end }}
</div>
{{ end }}
