<div class="flex flex-row my-6">
  <img
    class="card-image z-10 my-4 border-2 border-accent-200"
    src="/img/{{ .img }}"
    alt="{{ .title }}"
    style="object-fit: {{ .objectFit | default "cover" }};"
  >
  <div class="z-0 flex flex-col p-3 pl-16 -ml-12 rounded-xs">
    <div class="text-accent-700 text-lg items-center">
      {{ if .href }}
        <a href="{{ .href }}" class="underline inline text-accent-700 hover:text-accent-700">{{ .title }}</a>
      {{ else }}
        <span>{{ .title }}</span>
      {{ end }}
      <div class="text-sm text-accent-600 block sm:inline sm:ml-2">
        [{{ .subtitle }}]
      </div>
    </div>
    <div class="text-accent-700 text-sm md:text-base">
      {{ .text }}
    </div>
  </div>
</div>

<style>
.card-image {
  min-width: 100px;
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
</style>
