<div class="flex flex-row mb-3">
  <img
    class="card-image z-10 mb-4 mt-1 border-2 border-accent-4 rounded-sm"
    src="/img/{{ .img }}"
    alt="{{ .title }}"
    style="object-fit: {{ .objectFit | default "cover" }};"
  >
  <div class="z-0 flex flex-col pb-3 pl-16 -ml-12">
    <h3 class="text-accent-4 text-lg items-center">
      {{ if .href }}
        <a href="{{ .href }}" class="link inline text-accent-4 hover:text-accent-4">{{ .title }}</a>
      {{ else }}
        <span>{{ .title }}</span>
      {{ end }}
      <div class="text-sm text-accent-3 block mobile:inline mobile:ml-2">
        [{{ .subtitle }}]
      </div>
    </h3>
    <div class="text-accent-4 text-sm">
      {{ .text }}
    </div>
  </div>
</div>

<style>
.card-image {
  min-width: 100px;
  width: 100px;
  height: 100px;
}
</style>
