{{ define "header" }}
   {{ partial "bio.html" . }}
{{ end }}

{{ define "main" }}
  <div class="my-6">
  {{ partial "subtitle.html" (dict "text" "Recent Posts") }}

  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ partial "posts-list.html" (dict "posts" $posts "limit" 8) }}


  {{ partial "subtitle.html" (dict "text" "Projects") }}

  {{ range .Site.Data.homepage.projects }}
    {{ partial "project.html" . }}
  {{ end }}

  {{ partial "subtitle.html" (dict "text" "External Links") }}
  {{ partial "external-links.html" . }}
  </div>
{{ end }}